<div id='map_canvas'></div>

<div id="search">
  <input type="text" id="search_address" placeholder="Search places">
  <button onclick="GMap.search()" class="btn">Take me there!</button>

  <span id="search_status"></span>
</div>

<h1>
  Dynamic atlas
  <small>
    See <a href="javascript:GMap.updateCoords({ 'latitude': -34.608333, 'longitude': -58.371944 })">Buenos Aires</a>,
    <a href="javascript:GMap.updateCoords({ 'latitude': 40.783333, 'longitude': -73.966667 })">NYC</a>
    or  <a href="javascript:Geolocalize.start()">where you are</a>.
  </small>
</h1>

<p><a class='btn' href='mailto:tutecosta@gmail.com'>Send feedback!</a></p>

<script src='http://maps.google.com/maps/api/js?sensor=false'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
<script src='/app.js'></script>
