.row
  .span8#map_canvas{ style: 'min-height: 500px' }
  .span4
    %h1 Describe around
    %ul#places

%script{ src: 'http://maps.google.com/maps/api/js?sensor=false' }
%script{ src: '/jx.js' }
%script{ src: '/app.js' }
